<html>
<head>
    <title>登录</title>
    <meta charset="utf-8" content="text/html">
    <link rel="stylesheet" href="../../ext5.1/resources/css/ext-all-neptune.css"/>
    <script type="text/javascript" src="../../ext5.1/ext-all.js"></script>
    <script type="text/javascript" src="../../ext5.1/ext-theme-neptune.js"></script>
    <script type="text/javascript" src="../login.js"></script>
    <style>
        #container {
            margin-top: 15%;
            margin-left: auto;
            margin-right: auto;
            width: 400px;
        }
    </style>
</head>
<body>
<div id="container"></div>
</body>
</html>
